.b1 {
    background-color: darkgray;
}

.b2 {
    text-align: center;
}
h1 {
    margin-left:50px;
}

p{
    margin-left:50px;
}
textarea {

    border-top: 2px solid black;
    
}


